---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  {% if page.description %}
  <p>{{ page.description }}</p>
  {% endif %}

  {{ content }}

  {% if page.tags %}
  <div>
    {% for tag in page.tags %}
    <a href="{{ '/tags#' | append: tag | relative_url }}">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
  
  <nav>
    {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">← {{ page.previous.title }}</a>
    {% endif %}
    
    {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">{{ page.next.title }} →</a>
    {% endif %}
  </nav>
</article> 